.container{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    gap:10px;
    border: 2px solid black;
}

.grid-item{
    background-color: aquamarine;
}

.span-12{
    grid-column: span 12;
    background-color: blueviolet;
}

.span-6{
    grid-column: span 6;
    background-color: burlywood;
}

.span-3{
    grid-column: span 3;
    background-color: bisque;
}